<div  class="container">
    <form #addressForm="ngForm" (submit)="addressForm.valid && addAddress()">
      
    <div class="form-group mt-3">
     
        <label for="">Name</label>
        <input name="name" required #rishabh="ngModel" [(ngModel)]="userdetails.name" type="text" class="form-control">
        <div style="color: red;" *ngIf="addressForm.submitted && rishabh.errors">
            <label *ngIf="rishabh.errors?.['required']">Name is Required</label>
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="">Address</label>
        <input name="address" [(ngModel)]="userdetails.address" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label for="">City</label>
        <input name="city" [(ngModel)]="userdetails.city" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label for="">Pincode</label>
        <input name="pincode" [(ngModel)]="userdetails.pincode" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label for="">Phone</label>
        <input name="phone" [(ngModel)]="userdetails.phone" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-primary">Add Address</button>
    </div>
</form>

</div>